USE [master]
GO
/****** Object:  Database [B2]    Script Date: 6/1/2025 8:54:06 PM ******/
CREATE DATABASE [B2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'B2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\B2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'B2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\B2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [B2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [B2]
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 6/1/2025 8:54:06 PM ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[Value] [int] NULL
)
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](255) NULL,
	[Contact] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Genre] [varchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[Format] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[PublicationDate] [date] NULL,
	[ISBN] [varchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Books_Title] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BookDetails]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. BookDetails: Full book info with author and publisher
CREATE VIEW [dbo].[BookDetails] AS
SELECT 
    b.BookID, b.Title, a.Name AS AuthorName, p.Name AS PublisherName,
    b.Genre, b.Price, b.Stock, b.Format, b.Language, b.PublicationDate
FROM dbo.Books b
JOIN dbo.Authors a ON b.AuthorID = a.AuthorID
JOIN dbo.Publishers p ON b.PublisherID = p.PublisherID;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Password] [varchar](255) NULL,
	[ShippingAddress] [varchar](255) NULL,
	[BillingAddress] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderSummary]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OrderSummary: Orders with customer and total price
CREATE VIEW [dbo].[OrderSummary] AS
SELECT 
    o.OrderID, 
    c.FirstName + ' ' + c.LastName AS CustomerName, 
    o.OrderDate,
    SUM(b.Price * od.Quantity) AS TotalAmount,
    o.Status
FROM dbo.Orders o
JOIN dbo.Customers c ON o.CustomerID = c.CustomerID
JOIN dbo.OrderDetails od ON o.OrderID = od.OrderID
JOIN dbo.Books b ON od.BookID = b.BookID
GROUP BY o.OrderID, c.FirstName, c.LastName, o.OrderDate, o.Status;
GO
/****** Object:  View [dbo].[TopSellingBooks]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. TopSellingBooks: Top 5 best-selling books by quantity
CREATE VIEW [dbo].[TopSellingBooks] AS
SELECT TOP 5 
    b.Title, SUM(od.Quantity) AS TotalSold
FROM dbo.OrderDetails od
JOIN dbo.Books b ON od.BookID = b.BookID
GROUP BY b.Title
ORDER BY TotalSold DESC;
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomerOrders]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. CustomerOrders: List orders and payments per customer
CREATE VIEW [dbo].[CustomerOrders] AS
SELECT
    c.CustomerID,
    c.FirstName,
    c.LastName,
    o.OrderID,
    o.OrderDate,
    p.PaymentMethod,
    p.Amount
FROM dbo.Customers c
LEFT JOIN dbo.Orders o ON c.CustomerID = o.CustomerID
LEFT JOIN dbo.Payments p ON o.OrderID = p.OrderID;
GO
/****** Object:  View [dbo].[BooksInStock]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. BooksInStock: Books where stock > 0
CREATE VIEW [dbo].[BooksInStock] AS
SELECT BookID, Title, Stock
FROM dbo.Books
WHERE Stock > 0;
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[AdminPass] [varchar](255) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLog]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[LogDate] [datetime] NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Email]    Script Date: 6/1/2025 8:54:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Email] ON [dbo].[Admins]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_ISBN]    Script Date: 6/1/2025 8:54:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_ISBN] ON [dbo].[Books]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[OrderLog] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Books]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderLog]  WITH CHECK ADD  CONSTRAINT [FK_OrderLog_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderLog] CHECK CONSTRAINT [FK_OrderLog_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Format]='Paperback' OR [Format]='Hardcover' OR [Format]='eBook'))
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='Cash' OR [PaymentMethod]='Card' OR [PaymentMethod]='JazzCash' OR [PaymentMethod]='EasyPaisa' OR [PaymentMethod]='SadaPay'))
GO
/****** Object:  StoredProcedure [dbo].[AddCustomer]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. AddCustomer
CREATE PROCEDURE [dbo].[AddCustomer]
    @FirstName VARCHAR(100),
    @LastName VARCHAR(100),
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @Password VARCHAR(255),
    @ShippingAddress VARCHAR(255),
    @BillingAddress VARCHAR(255)
AS
BEGIN
    INSERT INTO dbo.Customers (FirstName, LastName, Email, Phone, Password, ShippingAddress, BillingAddress)
    VALUES (@FirstName, @LastName, @Email, @Phone, @Password, @ShippingAddress, @BillingAddress);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertBook]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================
-- STORED PROCEDURES
-- ====================

-- 1. InsertBook (Updated to handle ISBN parameter)
CREATE PROCEDURE [dbo].[InsertBook]
    @Title VARCHAR(200),
    @AuthorID INT,
    @PublisherID INT,
    @Genre VARCHAR(100),
    @Price DECIMAL(10,2),
    @Stock INT,
    @Format VARCHAR(50),
    @Language VARCHAR(50),
    @PublicationDate DATE,
    @ISBN VARCHAR(17) = NULL
AS
BEGIN
    INSERT INTO dbo.Books (Title, AuthorID, PublisherID, Genre, Price, Stock, Format, Language, PublicationDate, ISBN)
    VALUES (@Title, @AuthorID, @PublisherID, @Genre, @Price, @Stock, @Format, @Language, @PublicationDate, @ISBN);
END;
GO
/****** Object:  StoredProcedure [dbo].[PlaceOrder]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. PlaceOrder (Fixed CTE scope issue)
CREATE PROCEDURE [dbo].[PlaceOrder]
    @CustomerID INT,
    @BookIDs dbo.IntList READONLY,     -- should have column [Value] = BookID
    @Quantities dbo.IntList READONLY,  -- should have column [Value] = Quantity
    @PaymentMethod VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OrderID INT;
    DECLARE @TotalAmount DECIMAL(10,2) = 0;

    -- 1. Create new order
    INSERT INTO dbo.Orders (CustomerID)
    VALUES (@CustomerID);

    SET @OrderID = SCOPE_IDENTITY();

    -- 2. Create a temporary table to combine BookIDs and Quantities
    CREATE TABLE #CombinedItems (
        BookID INT,
        Quantity INT
    );

    -- 3. Insert combined data using row numbers
    INSERT INTO #CombinedItems (BookID, Quantity)
    SELECT 
        b.BookID,
        q.Quantity
    FROM (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RN,
            Value AS BookID
        FROM @BookIDs
    ) b
    JOIN (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RN,
            Value AS Quantity
        FROM @Quantities
    ) q ON b.RN = q.RN;

    -- 4. Insert into OrderDetails
    INSERT INTO dbo.OrderDetails (OrderID, BookID, Quantity)
    SELECT @OrderID, BookID, Quantity
    FROM #CombinedItems;

    -- 5. Update book stock
    UPDATE b
    SET b.Stock = b.Stock - c.Quantity
    FROM dbo.Books b
    JOIN #CombinedItems c ON b.BookID = c.BookID
    WHERE b.Stock >= c.Quantity;

    -- 6. Calculate total amount
    SELECT @TotalAmount = SUM(b.Price * c.Quantity)
    FROM #CombinedItems c
    JOIN dbo.Books b ON b.BookID = c.BookID;

    -- 7. Record payment
    INSERT INTO dbo.Payments (OrderID, PaymentMethod, Amount)
    VALUES (@OrderID, @PaymentMethod, @TotalAmount);

    -- 8. Log the order
    INSERT INTO dbo.OrderLog (OrderID, PaymentMethod)
    VALUES (@OrderID, @PaymentMethod);

    -- 9. Clean up temporary table
    DROP TABLE #CombinedItems;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateBookStock]    Script Date: 6/1/2025 8:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. UpdateBookStock
CREATE PROCEDURE [dbo].[UpdateBookStock]
    @BookID INT,
    @StockChange INT -- positive or negative
AS
BEGIN
    UPDATE dbo.Books
    SET Stock = Stock + @StockChange
    WHERE BookID = @BookID AND Stock + @StockChange >= 0;
END;
GO
USE [master]
GO
